[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/bus-i2c"]
	path = components/bus-i2c
	url = https://github.com/Nicolai-Electronics/esp32-component-bus-i2c.git
[submodule "components/spi-ili9341"]
	path = components/spi-ili9341
	url = https://github.com/Nicolai-Electronics/esp32-component-spi-ili9341.git
[submodule "components/sdcard"]
	path = components/sdcard
	url = https://github.com/Nicolai-Electronics/esp32-component-sdcard.git
[submodule "components/pax-graphics"]
	path = components/pax-graphics
	url = https://github.com/robotman2412/pax-graphics.git
[submodule "components/esp32-component-appfs"]
	path = components/appfs
	url = https://github.com/badgeteam/esp32-component-appfs.git
[submodule "components/ws2812"]
	path = components/ws2812
	url = https://github.com/badgeteam/esp32-component-ws2812.git
[submodule "components/pax-codecs"]
	path = components/pax-codecs
	url = https://github.com/robotman2412/pax-codecs.git
[submodule "main/pax-keyboard"]
	path = components/pax-keyboard
	url = https://github.com/robotman2412/pax-keyboard
[submodule "tools"]
	path = tools
	url = https://github.com/badgeteam/mch2022-tools
[submodule "components/troopers23-bsp"]
	path = components/troopers23-bsp
	url = https://github.com/badgeteam/esp32-component-troopers23-bsp.git
[submodule "esp32-component-pca9555"]
	path = esp32-component-pca9555
	url = https://github.com/badgeteam/esp32-component-pca9555.git
[submodule "components/i2c-pca9555"]
	path = components/i2c-pca9555
	url = https://github.com/badgeteam/esp32-component-pca9555.git
[submodule "components/i2c-ktd2052"]
	path = components/i2c-ktd2052
	url = https://github.com/hnzlmnn/esp32-component-ktd2052.git
[submodule "components/i2c-controller"]
	path = components/i2c-controller
	url = https://github.com/hnzlmnn/esp32-component-controller.git
[submodule "components/troopers23-efuse"]
	path = components/troopers23-efuse
	url = https://github.com/badgeteam/troopers23-efuse.git
[submodule "components/troopers24-efuse"]
	path = components/troopers24-efuse
	url = git@github.com:badgeteam/troopers24-efuse.git
[submodule "components/troopers24-bsp"]
	path = components/troopers24-bsp
	url = git@github.com:badgeteam/troopers24-bsp.git
[submodule "components/spi-st77xx"]
	path = components/spi-st77xx
	url = git@github.com:badgeteam/eps32-component-spi-st77xx.git
